/demo/nbproject/private/
/demo/build/
/demo/dist/
/point/nbproject/private/
/point/build/
/BaiTap1/nbproject/private/
/BaiTap1/build/
/BaiTap/nbproject/private/
/BaiTap/build/
/Exception and Dynamic Memory/nbproject/private/
/HandlingExceptionsAndHeapAndStack/nbproject/private/
/LO4/nbproject/private/
/LO4/build/
/4LO5,O6/nbproject/private/
/LO2/nbproject/private/
/LO2/build/
/LO2, LO3/nbproject/private/
/LO2, LO3/build/
/5LO5, LO6/nbproject/private/
/5LO5, LO6/build/
/Person/nbproject/private/
/Person/build/
